import HttpsProxyAgent from 'https-proxy-agent/dist/agent'
import path from 'path'
import { IDrinkBotConfig } from './type'

export const config: IDrinkBotConfig = {
  token: '1234567890:AbCdEfGhIjKlMnOpqRsTuVwXyz-01234567',
  storeFile: path.resolve('../testStore.json'),
  httpsProxyAgent: new HttpsProxyAgent('http://localhost:7890'),
  notifyChatId: 983682187
}
